body,
html {
  background-color: #222;
  color: #ddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
pre {
  background-color: #181818;
  font-family: "Consolas", "Courier New", Courier, monospace;
  padding: 10px;
}
code {
  background-color: #000;
  font-family: "Consolas", "Courier New", Courier, monospace;
  padding: 2px 4px;
  border-radius: 4px;
}
