name: CI Build & Release

on:
  workflow_dispatch:
  push:
    branches: ["main"]

env:
  ACR_NAME: bencwsacr
  IMAGE_TAG: ${{ github.run_id }}

jobs:
  buildJob:
    name: "Build & push images"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout application code repo"
        uses: actions/checkout@v2
        with:
          repository: benc-uk/smilr

      - name: "Authenticate to access ACR"
        uses: docker/login-action@master
        with:
          registry: ${{ env.ACR_NAME }}.azurecr.io
          username: ${{ env.ACR_NAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: "Build & Push: data API"
        run: |
          docker pull $ACR_NAME.azurecr.io/smilr/data-api:latest || true
          docker build . -f node/data-api/Dockerfile -t $ACR_NAME.azurecr.io/smilr/data-api:$IMAGE_TAG -t $ACR_NAME.azurecr.io/smilr/data-api:latest
          docker push $ACR_NAME.azurecr.io/smilr/data-api:$IMAGE_TAG

      - name: "Build & Push: frontend"
        run: |
          docker pull $ACR_NAME.azurecr.io/smilr/frontend:latest || true
          docker build . -f node/data-api/Dockerfile -t $ACR_NAME.azurecr.io/smilr/frontend:$IMAGE_TAG -t $ACR_NAME.azurecr.io/smilr/frontend:latest
          docker push $ACR_NAME.azurecr.io/smilr/frontend:$IMAGE_TAG

  releaseJob:
    name: "Release to Kubernetes"
    runs-on: ubuntu-latest
    # Only release from main
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: buildJob
    steps:
      - name: "Checkout application code repo" # Needed for the Helm chart
        uses: actions/checkout@v2
        with:
          repository: benc-uk/smilr

      - name: "Configure kubeconfig"
        uses: azure/k8s-set-context@v2
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.CLUSTER_KUBECONFIG }}

      - name: "Update chart dependencies"
        run: helm dependency update ./kubernetes/helm/smilr

      - name: "Release app with Helm"
        run: |
          helm upgrade myapp ./kubernetes/helm/smilr --install --wait --timeout 60s \
          --set registryPrefix=$ACR_NAME.azurecr.io \
          --set frontend.imageTag=$IMAGE_TAG \
          --set dataApi.imageTag=$IMAGE_TAG \
          --set mongodb.enabled=true
